---
import { parse } from "node-html-parser";
import { fileToSlug } from "src/misc";
import TagButton from "./TagButton.astro";
import DateComponent from "./DateComponent.astro";
import ReadingTimeComponent from "./ReadingTimeComponent.astro";
import { CollectionEntry } from "astro:content";

export interface Props {
  content: CollectionEntry<"posts">;
  lazyLoading?: boolean;
}

const { content, lazyLoading } = Astro.props as Props;

const rendered = content.rendered?.html ?? "";

const description =
  content.data.description ||
  parse(rendered).querySelector("p:first-of-type")?.innerText;

const url = `/articles/${fileToSlug(content.filePath ?? "", "md")}`;

const date = new Date(content.data.date).toDateString();

const tags = content.data.tags;
---

<div
  class="card sm:card-side bg-base-100 shadow-xl hover:shadow-2xl transition-all duration-300 max-w-[90%] w-240 mx-auto border border-base-300 hover:border-primary/30 focus-within:outline focus-within:outline-2 focus-within:outline-primary"
>
  {
    content.data.image ? (
      <Fragment>
        <figure class="pt-4 sm:pt-0 rounded">
          <img
            width="300"
            height="200"
            loading={lazyLoading ? "lazy" : "eager"}
            class="m-2 max-w-[300px] max-h-[200px] aspect-video"
            src={content.data.image}
            alt={content.data.imageDescription ?? content.data.title}
            transition:name={content.data.image}
          />
        </figure>
      </Fragment>
    ) : null
  }

  <div class="card-body max-w-md mx-auto">
    <a
      href={url}
      class="no-underline text-primary hover:text-primary-focus transition-colors duration-200"
    >
      <h2 class="card-title text-2xl">{content.data.title}</h2>
    </a>
    <div class="flex gap-2 flex-wrap">
      {
        tags &&
          tags.length > 0 &&
          tags.map((ele: string) => <TagButton tagName={ele} />)
      }
    </div>
    <div class="card-actions items-center">
      <DateComponent date={date} />
      <span> • </span>
      <ReadingTimeComponent content={rendered} />
    </div>
    <p class="line-clamp-4 md:line-clamp-3">
      {description}
    </p>
  </div>
</div>
